 <div class="row"> 
  <div class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand"><a href="#/">HabitList</a></div>
      </div>
      <ul class="navbar-text navbar-right list-inline">
        <li class="li-nav"><a class="navbar-link" href="/login" ng-click="showLogin=true">Login</a></li>
        <!-- <li class="li-nav"><a class="navbar-link" href="/register" ng-click="vm.showReg=true">Register</a> </li> -->
        {{ vm.showReg }}
        <li class="li-nav" ng-click="vm.showReg=true">Register</li>
      </ul>
    </div>
  </div>
</div>

