/*.test-col {
  background-color: #ccc;
  border: 1px solid black;
}
*/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-control[readonly] {
    background-color: #fff;
    /* any other styles */
}

.input-group {
  margin-bottom: 3px;
}

/* add custom styles */
.navbar-center {
  width: 100%;
  text-align: center;
}

.navbar {
  margin-bottom: 0px;
}

/*.text-center {
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;
}*/

.li-nav:not(:last-child):after {
  content: " |";
}

.repeatContainer {
  display: flex;
  margin: 10px 0;
}

img {
  width: 100%;
}

.register {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ccc;
  border-radius: 20px;
}